Repository cdk-cosmos/cosmos, pull requests merged in 2020-06, with the labels that each got.

#97 Add option for ssl
  package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/ecs-solar-system.ts
  packages/@cdk-cosmos/core/src/solar-system.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/ecs-solar-system.test.ts
Labels: cdk-cosmos, enhancement

#96 Allow for Extension to target the same core multiple times
  .eslintrc
  packages/@cdk-cosmos/core/src/ci-cd-ecs-solar-system.ts
  packages/@cdk-cosmos/core/src/ci-cd-solar-system.ts
  packages/@cdk-cosmos/core/src/components/base.ts
  packages/@cdk-cosmos/core/src/components/cross-account.ts
  packages/@cdk-cosmos/core/src/cosmos.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system.ts
  packages/@cdk-cosmos/core/src/galaxy.ts
  packages/@cdk-cosmos/core/src/helpers/generate-scope-id.ts
  packages/@cdk-cosmos/core/src/index.ts
  packages/@cdk-cosmos/core/src/solar-system.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/cosmos.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
  src/test/jest.setup.ts
Labels: bug, cdk-cosmos, enhancement

#104 Test Release
  .github/workflows/publish_packages.yml
  .github/workflows/version_release.yml
  changelog.md
Labels: release:patch

#106 Test
  changelog.md
Labels: release:patch

#107 Fix Release Action
  .github/workflows/version_release.yml
Labels: release:patch

#108 Update version_release.yml
  .github/workflows/version_release.yml
Labels: release:patch

#110 Update changelog.md
  changelog.md
Labels: release:patch

#111 Test
  scripts/publish.sh
  scripts/version.sh
Labels: release:patch

#112 Update version.sh
  scripts/version.sh
Labels: release:patch

#114 Update changelog.md
  changelog.md
Labels: release:patch

#115 Update version.sh
  .github/workflows/version_release.yml
  scripts/version.sh
Labels: release:patch

#116 Update version_release.yml
  .github/workflows/version_release.yml
  scripts/publish.sh
  scripts/version.sh
Labels: release:patch

#117 Update version_release.yml
  .github/workflows/version_release.yml
  scripts/version.sh
Labels: release:patch

#118 Update version_release.yml
  .github/workflows/version_release.yml
Labels: release:patch

#119 Update version_release.yml
  .github/workflows/version_release.yml
Labels: release:patch

#120 Update version_release.yml
  .github/workflows/publish_packages.yml
  .github/workflows/version_release.yml
Labels: release:patch

#122 Update version_release.yml
  .github/workflows/version_release.yml
Labels: release:patch

#124 Update version_release.yml
  .github/workflows/version_release.yml
  scripts/version.sh
Labels: release:patch

#126 Clean up cross account resource build
  .github/workflows/publish_packages.yml
  .github/workflows/version_release.yml
  jest.config.js
  packages/private/cross-account-stack-ref-handler/src/index.ts
  packages/private/cross-account-stack-ref-handler/src/send.ts
  packages/private/cross-account-stack-ref-handler/test/handler.test.ts
  yarn.lock
Labels: bug, cdk-cosmos, release:patch

#130 Release Patch
  .github/workflows/publish_packages.yml
  .github/workflows/test_pull_request.yml
  .github/workflows/version_release.yml
  changelog.md
  lerna.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
  packages/private/cross-account-stack-ref-handler/package.json
Labels: release:patch

#131 Fix Publish
  .github/workflows/publish_packages.yml
  .github/workflows/test_pull_request.yml
  .github/workflows/version_release.yml
  scripts/publish.sh
  src/scripts/version.sh
Labels: bug

#135 Add Changelog + Release Actions
  .github/workflows/publish_packages.yml
  .github/workflows/test_pull_request.yml
  .github/workflows/version_release.yml
  changelog.md
  jest.config.js
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
  packages/private/cross-account-stack-ref-handler/src/index.ts
  packages/private/cross-account-stack-ref-handler/src/send.ts
  packages/private/cross-account-stack-ref-handler/test/handler.test.ts
  src/scripts/version.sh
  yarn.lock
Labels: enhancement

#136 Release
  .github/workflows/publish_packages.yml
  .github/workflows/test_pull_request.yml
  .github/workflows/version_release.yml
  changelog.md
  jest.config.js
  lerna.json
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
  packages/private/cross-account-stack-ref-handler/package.json
  packages/private/cross-account-stack-ref-handler/src/index.ts
  packages/private/cross-account-stack-ref-handler/src/send.ts
  packages/private/cross-account-stack-ref-handler/test/handler.test.ts
  src/scripts/version.sh
  yarn.lock
Labels: release:patch

#99 Add SecureBucket building block
  packages/@cdk-cosmos/core/src/components/cdk-pipeline.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cosmos-building-blocks/common/src/cdk-tool-kit.ts
  packages/@cosmos-building-blocks/service/src/index.ts
  packages/@cosmos-building-blocks/service/src/s3.ts
  packages/@cosmos-building-blocks/service/test/__snapshots__/s3.test.ts.snap
  packages/@cosmos-building-blocks/service/test/s3.test.ts
  shields/coverage.svg
Labels: building-block, enhancement
