Repository cdk-cosmos/cosmos, pull requests merged in 2020-08, with the labels that each got.

#162 ASG construct with ability to use Launch Template
  packages/@cosmos-building-blocks/service/src/autoscaling.ts
  packages/@cosmos-building-blocks/service/src/index.ts
  packages/@cosmos-building-blocks/service/test/__snapshots__/autoscaling.test.ts.snap
  packages/@cosmos-building-blocks/service/test/autoscaling.test.ts
Labels: building-block, enhancement

#157 Fix cross account exports (Deprecated AWS CDK Package)
  jest.base.config.js
  package.json
  packages/@cdk-cosmos/core/src/components/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/components/cross-account.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-import.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-stack.ts
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/common/src/cdk-tool-kit.ts
  packages/@cosmos-building-blocks/common/src/cross-account-export-handler/index.ts
  packages/@cosmos-building-blocks/common/src/cross-account-exports.ts
  packages/@cosmos-building-blocks/common/src/index.ts
  packages/@cosmos-building-blocks/common/src/s3.ts
  packages/@cosmos-building-blocks/common/test/__snapshots__/cross-account-exports.test.ts.snap
  packages/@cosmos-building-blocks/common/test/__snapshots__/s3.test.ts.snap
  packages/@cosmos-building-blocks/common/test/cross-account-export-handler.test.ts
  packages/@cosmos-building-blocks/common/test/cross-account-exports.test.ts
  packages/@cosmos-building-blocks/common/test/s3.test.ts
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/pipeline/src/standard-pipeline.ts
  packages/@cosmos-building-blocks/pipeline/test/__snapshots__/pipeline.test.ts.snap
  packages/@cosmos-building-blocks/service/src/index.ts
  packages/private/cross-account-stack-ref-handler/.gitignore
  packages/private/cross-account-stack-ref-handler/LICENSE
  packages/private/cross-account-stack-ref-handler/README.md
  packages/private/cross-account-stack-ref-handler/jest.config.js
  packages/private/cross-account-stack-ref-handler/package.json
  packages/private/cross-account-stack-ref-handler/src/index.ts
  packages/private/cross-account-stack-ref-handler/src/send.ts
  packages/private/cross-account-stack-ref-handler/test/handler.test.ts
  packages/private/cross-account-stack-ref-handler/tsconfig.json
  shields/coverage.svg
  src/test/index.ts
  src/test/jest.setup.ts
  src/test/mocks.ts
  yarn.lock
Labels: breaking-change, building-block, cdk-cosmos, dependencies

#160 Add EC2 Cloud Watch Agent (#158)
  cdk-test/app/package.json
  cdk-test/core/package.json
  packages/@cosmos-building-blocks/common/test/__snapshots__/s3.test.ts.snap
  packages/@cosmos-building-blocks/common/test/s3.test.ts
  packages/@cosmos-building-blocks/service/src/ec2/ec2-cloud-watch-agent.ts
  packages/@cosmos-building-blocks/service/src/ec2/index.ts
  packages/@cosmos-building-blocks/service/src/ecs/ecs-service.ts
  packages/@cosmos-building-blocks/service/src/ecs/index.ts
  packages/@cosmos-building-blocks/service/src/index.ts
  packages/@cosmos-building-blocks/service/src/utils/ecs-routing.ts
  packages/@cosmos-building-blocks/service/src/utils/index.ts
  packages/@cosmos-building-blocks/service/test/__snapshots__/ec2-cloud-watch-agent.test.ts.snap
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-service.test.ts.snap
  packages/@cosmos-building-blocks/service/test/ec2-cloud-watch-agent.test.ts
  packages/@cosmos-building-blocks/service/test/ecs-service.test.ts
  packages/@cosmos-building-blocks/service/test/redis.test.ts
  shields/coverage.svg
Labels: building-block, enhancement

#166 Clean up Logical Ids + General Clean up
  packages/@cdk-cosmos/core/src/components/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/components/cross-account.ts
  packages/@cdk-cosmos/core/src/components/remote.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-import.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-stack.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/ecs-solar-system-core-import.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/ecs-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/helpers/generate-id.ts
  packages/@cdk-cosmos/core/src/solar-system/solar-system-core-import.ts
  packages/@cdk-cosmos/core/src/solar-system/solar-system-core-stack.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/components/cdk-pipeline.test.ts
Labels: breaking-change, bug

#167 Breaking Change: Feature Pattern for extending Constructs
  cdk-test/core/bin/main.ts
  cdk-test/core/package.json
  packages/@cdk-cosmos/core/src/cicd-solar-system/cicd-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/cicd-solar-system/cicd-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/cicd-solar-system/index.ts
  packages/@cdk-cosmos/core/src/components/base.ts
  packages/@cdk-cosmos/core/src/components/core-vpc.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-stack.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/ecs-solar-system-core-import.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/ecs-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/ecs-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system/index.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/ecs-solar-system/ecs-solar-system-core-import.ts
  packages/@cdk-cosmos/core/src/features/ecs-solar-system/ecs-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/src/features/shared-vpc-galaxy/shared-vpc-galaxy-core-stack.ts
  packages/@cdk-cosmos/core/src/galaxy/galaxy-core-stack.ts
  packages/@cdk-cosmos/core/src/galaxy/galaxy-extension-stack.ts
  packages/@cdk-cosmos/core/src/helpers/constants.ts
  packages/@cdk-cosmos/core/src/helpers/generate-scope-id.ts
  packages/@cdk-cosmos/core/src/helpers/utils.ts
  packages/@cdk-cosmos/core/src/index.ts
  packages/@cdk-cosmos/core/src/solar-system/solar-system-core-import.ts
  packages/@cdk-cosmos/core/src/solar-system/solar-system-core-stack.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/ci-cd-solar-system.test.ts
  packages/@cdk-cosmos/core/test/cosmos.test.ts
  packages/@cdk-cosmos/core/test/ecs-solar-system.test.ts
  packages/@cdk-cosmos/core/test/galaxy.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
  packages/@cosmos-building-blocks/common/src/cross-account-export-handler/index.ts
  shields/coverage.svg
  src/test/index.ts
Labels: breaking-change, cdk-cosmos

#171 Clean up Naming + .of and .is static funtions to find constructs
  packages/@cdk-cosmos/core/src/components/base.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-stack.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-import.ts
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/src/features/shared-vpc-feature/shared-vpc-feature-core-stack.ts
  packages/@cdk-cosmos/core/src/galaxy/galaxy-core-stack.ts
  packages/@cdk-cosmos/core/src/solar-system/solar-system-core-stack.ts
  packages/@cdk-cosmos/core/test/ci-cd-solar-system.test.ts
  shields/coverage.svg
Labels: cdk-cosmos, enhancement

#175 Fix Typeo in CiCd Extension Stack + Expose using vpc for cdk pipeline
  packages/@cdk-cosmos/core/src/components/base.ts
  packages/@cdk-cosmos/core/src/components/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cosmos-building-blocks/network/src/internet/transparent-proxy.ts
Labels: bug, cdk-cosmos

#176 Fix ASG prop for ECS
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
Labels: bug, cdk-cosmos

#177 Release v0.6.1
  changelog.md
  lerna.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/components/base.ts
  packages/@cdk-cosmos/core/src/components/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-core-stack.ts
  packages/@cdk-cosmos/core/src/features/cicd-solar-system/cicd-solar-system-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/network/src/internet/transparent-proxy.ts
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
Labels: release:patch

#181 Fix Cross Account assume in Master Role + Fix Ecs import issue with bad output names
  packages/@cdk-cosmos/core/src/cosmos/cosmos-core-stack.ts
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-import.ts
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cosmos-building-blocks/common/src/cross-account-exports.ts
  packages/@cosmos-building-blocks/common/test/__snapshots__/cross-account-exports.test.ts.snap
Labels: bug
