Repository cdk-cosmos/cosmos, pull requests merged in 2020-03, with the labels that each got.

#16 Resource Naming Pattern
  cdk-test/app/bin/main.ts
  cdk-test/app/package-lock.json
  cdk-test/core/bin/main.ts
  cdk-test/core/package-lock.json
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/src/index.ts
  packages/@cdk-cosmos/core/src/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/ci-cd-solar-system.ts
  packages/@cdk-cosmos/core/src/cosmos.ts
  packages/@cdk-cosmos/core/src/ecs-solar-system.ts
  packages/@cdk-cosmos/core/src/galaxy.ts
  packages/@cdk-cosmos/core/src/index.ts
  packages/@cdk-cosmos/core/src/interfaces.ts
  packages/@cdk-cosmos/core/src/pattern.ts
  packages/@cdk-cosmos/core/src/remote.ts
  packages/@cdk-cosmos/core/src/solar-system.ts
  packages/@cdk-cosmos/core/test/lib-template.test.ts
  packages/@cdk-cosmos/core/test/pattern.test.ts
  yarn.lock
Labels: breaking-change

#18 #12 - Add CDK Bootstrap s3 bucket
  cdk-test/core/bin/main.ts
  cdk-test/core/package-lock.json
  cdk-test/core/package.json
  packages/@cosmos-building-blocks/common/.gitignore
  packages/@cosmos-building-blocks/common/LICENSE
  packages/@cosmos-building-blocks/common/jest.config.js
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/common/src/cdktoolkit.ts
  packages/@cosmos-building-blocks/common/src/index.ts
  packages/@cosmos-building-blocks/common/test/lib-template.test.ts
  packages/@cosmos-building-blocks/common/tsconfig.json
Labels: building-block, cdk-cosmos, enhancement

#22 Fix package.json for plugin
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
Labels: bug, cdk-cosmos

#23 Fix Jest run from project scope + Readme for Core package + cidr passthrough
  .gitignore
  cdk-test/core/bin/main.ts
  jest.base.config.js
  jest.config.js
  lerna.json
  packages/@cdk-cosmos/cdk-credentials-plugin/jest.config.js
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/README.md
  packages/@cdk-cosmos/core/jest.config.js
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/ci-cd-solar-system.ts
  packages/@cdk-cosmos/core/src/cosmos.ts
  packages/@cdk-cosmos/core/src/galaxy.ts
  packages/@cdk-cosmos/core/src/interfaces.ts
  packages/@cdk-cosmos/core/src/solar-system.ts
  packages/@cosmos-building-blocks/app-ec2/jest.config.js
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/jest.config.js
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/pipeline/jest.config.js
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/jest.config.js
  packages/@cosmos-building-blocks/service/package.json
  packages/@cosmos-building-blocks/service/src/ecs.ts
  template/jest.config.js
Labels: bug, cdk-cosmos, documentation

#29 Fix CDK Piepline add stage name not using RESOLVE
  packages/@cdk-cosmos/core/src/cdk-pipeline.ts
  packages/@cdk-cosmos/core/src/index.ts
  packages/@cdk-cosmos/core/src/pattern.ts
Labels: bug, cdk-cosmos

#38 Fix Build + Fix Publish action
  .github/workflows/publish.yml
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  template/package.json
  yarn.lock
Labels: bug

#39 Fix Action Format
  .github/workflows/publish.yml
Labels: bug

#41 Add Init Tests + Action to run on PR's
  .github/workflows/test.yml
  README.md
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cdk-cosmos/core/test/cosmos.test.ts
Labels: cdk-cosmos, enhancement

#45 Jest Tests for packages
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/galaxy.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/cdk-pipeline.test.ts
  packages/@cdk-cosmos/core/test/ci-cd-solar-system.test.ts
  packages/@cdk-cosmos/core/test/ecs-solar-system.test.ts
  packages/@cdk-cosmos/core/test/galaxy.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
Labels: cdk-cosmos, enhancement

#46 Create new building block for TGW connection
  cdk-test/core/bin/main.ts
  cdk-test/core/package-lock.json
  cdk-test/core/package.json
  package.json
  packages/@cosmos-building-blocks/transit-gateway/.gitignore
  packages/@cosmos-building-blocks/transit-gateway/LICENSE
  packages/@cosmos-building-blocks/transit-gateway/README.md
  packages/@cosmos-building-blocks/transit-gateway/jest.config.js
  packages/@cosmos-building-blocks/transit-gateway/package-lock.json
  packages/@cosmos-building-blocks/transit-gateway/package.json
  packages/@cosmos-building-blocks/transit-gateway/src/index.ts
  packages/@cosmos-building-blocks/transit-gateway/src/tgw-connect.ts
  packages/@cosmos-building-blocks/transit-gateway/test/__snapshots__/tgw-connect.test.ts.snap
  packages/@cosmos-building-blocks/transit-gateway/test/tgw-connect.test.ts
  packages/@cosmos-building-blocks/transit-gateway/tsconfig.json
  shields/coverage.svg
  yarn.lock
Labels: building-block, enhancement

#49 Transit GW: bug fix + make resolverRuleId optional
  packages/@cosmos-building-blocks/transit-gateway/src/tgw-connect.ts
  packages/@cosmos-building-blocks/transit-gateway/test/__snapshots__/tgw-connect.test.ts.snap
  packages/@cosmos-building-blocks/transit-gateway/test/tgw-connect.test.ts
Labels: bug, building-block, enhancement

#52 SolarSystem ALB healthchek keeps failing #51
  packages/@cdk-cosmos/core/src/ecs-solar-system.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ecs-solar-system.test.ts.snap
Labels: bug, cdk-cosmos

#50 Add Debugging + 100% on core main lib + Clean up
  .vscode/extensions.json
  .vscode/launch.json
  jest.base.config.js
  jest.config.js
  packages/@cdk-cosmos/cdk-credentials-plugin/jest.config.js
  packages/@cdk-cosmos/core/jest.config.js
  packages/@cdk-cosmos/core/src/cosmos.ts
  packages/@cdk-cosmos/core/src/galaxy.ts
  packages/@cdk-cosmos/core/test/__snapshots__/ci-cd-solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/cosmos.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/galaxy.test.ts.snap
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/ci-cd-solar-system.test.ts
  packages/@cdk-cosmos/core/test/cosmos.test.ts
  packages/@cdk-cosmos/core/test/ecs-solar-system.test.ts
  packages/@cdk-cosmos/core/test/galaxy.test.ts
  packages/@cdk-cosmos/core/test/helpers/cdk-pipeline.test.ts
  packages/@cdk-cosmos/core/test/helpers/pattern.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
  packages/@cosmos-building-blocks/app-ec2/jest.config.js
  packages/@cosmos-building-blocks/common/jest.config.js
  packages/@cosmos-building-blocks/common/test/__snapshots__/cross-account-exports.test.ts.snap
  packages/@cosmos-building-blocks/common/test/cross-account-exports.test.ts
  packages/@cosmos-building-blocks/pipeline/jest.config.js
  packages/@cosmos-building-blocks/service/jest.config.js
  packages/@cosmos-building-blocks/transit-gateway/jest.config.js
  packages/private/cross-account-stack-ref-handler/jest.config.js
  shields/coverage.svg
  src/test/index.ts
  src/test/jest.setup.ts
  src/test/mocks.ts
  template/jest.config.js
Labels: cdk-cosmos, enhancement

#54 #53 - Fix publish issues
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
  packages/@cosmos-building-blocks/transit-gateway/package.json
  packages/private/cross-account-stack-ref-handler/package.json
  template/package.json
Labels: bug
