Repository cdk-cosmos/cosmos, pull requests merged in 2021-06, with the labels that each got.

#291 Add Ecs Capacity Provider
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/cicd-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/ecs-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/github-enterprise-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/redis-feature.test.ts.snap
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/common/test/state.test.ts
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/pipeline/test/__snapshots__/pipeline.test.ts.snap
  packages/@cosmos-building-blocks/service/package.json
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-rebalance.test.ts.snap
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-service.test.ts.snap
  packages/@cosmos-building-blocks/service/test/ecs-service.test.ts
  template/package.json
  yarn.lock
Labels: cdk-cosmos, enhancement

#292 Release v0.8.9
  changelog.md
  lerna.json
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
  packages/@cdk-cosmos/core/test/__snapshots__/solar-system.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/cicd-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/ecs-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/github-enterprise-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/redis-feature.test.ts.snap
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/common/test/state.test.ts
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/pipeline/src/pipeline/cdk-pipeline.ts
  packages/@cosmos-building-blocks/pipeline/test/__snapshots__/pipeline.test.ts.snap
  packages/@cosmos-building-blocks/service/package.json
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-rebalance.test.ts.snap
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-service.test.ts.snap
  packages/@cosmos-building-blocks/service/test/ecs-service.test.ts
  template/package.json
  yarn.lock
Labels: release:patch

#296 #294 merging host header config instead of duplicating it
  packages/@cosmos-building-blocks/service/src/ecs/ecs-service.ts
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-service.test.ts.snap
  packages/@cosmos-building-blocks/service/test/ecs-service.test.ts
  yarn-error.log
Labels: bug, building-block

#297 Release v0.8.10
  changelog.md
  lerna.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/features/ecs-feature/ecs-feature-core-stack.ts
  packages/@cdk-cosmos/core/test/feature/__snapshots__/ecs-feature.test.ts.snap
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/service/package.json
  packages/@cosmos-building-blocks/service/src/ecs/ecs-service.ts
  packages/@cosmos-building-blocks/service/test/__snapshots__/ecs-service.test.ts.snap
  packages/@cosmos-building-blocks/service/test/ecs-service.test.ts
  yarn-error.log
Labels: release:patch

#299 Bug: Disable Updates for GHE Connection Host
  packages/@cdk-cosmos/core/test/feature/__snapshots__/github-enterprise-feature.test.ts.snap
  packages/@cosmos-building-blocks/pipeline/src/source/github-enterprise-connection.ts
  packages/@cosmos-building-blocks/pipeline/test/__snapshots__/pipeline.test.ts.snap
Labels: bug, building-block

#298 #241 cert bucket feature
  package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/components/remote.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/cert-feature/cert-feature-core-import.ts
  packages/@cdk-cosmos/core/src/features/cert-feature/cert-feature-core-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/test/cosmos.test.ts
  packages/@cdk-cosmos/core/test/feature/__snapshots__/cert-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/cert-feature.test.ts
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 1.pem
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 2.pem
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 3.pem
  packages/@cdk-cosmos/core/test/feature/certs/combined-certs.crt
  packages/@cdk-cosmos/core/test/feature/certs/combined-certs.pem
  packages/@cdk-cosmos/core/test/feature/cicd-feature.test.ts
  packages/@cdk-cosmos/core/test/feature/ecs-feature.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
  packages/@cosmos-building-blocks/common/src/cross-account-export-handler/index.ts
  packages/@cosmos-building-blocks/pipeline/src/pipeline/cdk-pipeline.ts
  packages/@cosmos-building-blocks/pipeline/src/pipeline/standard-pipeline.ts
  shields/coverage.svg
  src/test/jest.setup.ts
  yarn.lock
Labels: cdk-cosmos, enhancement

#300 Release v0.8.11
  changelog.md
  lerna.json
  package.json
  packages/@cdk-cosmos/cdk-credentials-plugin/package.json
  packages/@cdk-cosmos/core/package.json
  packages/@cdk-cosmos/core/src/components/remote.ts
  packages/@cdk-cosmos/core/src/cosmos/cosmos-extension-stack.ts
  packages/@cdk-cosmos/core/src/features/cert-feature/cert-feature-core-import.ts
  packages/@cdk-cosmos/core/src/features/cert-feature/cert-feature-core-stack.ts
  packages/@cdk-cosmos/core/src/features/index.ts
  packages/@cdk-cosmos/core/test/cosmos.test.ts
  packages/@cdk-cosmos/core/test/feature/__snapshots__/cert-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/__snapshots__/github-enterprise-feature.test.ts.snap
  packages/@cdk-cosmos/core/test/feature/cert-feature.test.ts
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 1.pem
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 2.pem
  packages/@cdk-cosmos/core/test/feature/certs/Amazon Root CA 3.pem
  packages/@cdk-cosmos/core/test/feature/certs/combined-certs.crt
  packages/@cdk-cosmos/core/test/feature/certs/combined-certs.pem
  packages/@cdk-cosmos/core/test/feature/cicd-feature.test.ts
  packages/@cdk-cosmos/core/test/feature/ecs-feature.test.ts
  packages/@cdk-cosmos/core/test/solar-system.test.ts
  packages/@cosmos-building-blocks/app-ec2/package.json
  packages/@cosmos-building-blocks/common/package.json
  packages/@cosmos-building-blocks/common/src/cross-account-export-handler/index.ts
  packages/@cosmos-building-blocks/network/package.json
  packages/@cosmos-building-blocks/pipeline/package.json
  packages/@cosmos-building-blocks/pipeline/src/pipeline/cdk-pipeline.ts
  packages/@cosmos-building-blocks/pipeline/src/pipeline/standard-pipeline.ts
  packages/@cosmos-building-blocks/pipeline/src/source/github-enterprise-connection.ts
  packages/@cosmos-building-blocks/pipeline/test/__snapshots__/pipeline.test.ts.snap
  packages/@cosmos-building-blocks/service/package.json
  shields/coverage.svg
  src/test/jest.setup.ts
  yarn.lock
Labels: release:patch
